* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 16px;
    font-family: "Noto Sans Display", sans-serif;
    font-style: normal;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    width: 100%;
    height: 15.5rem;
    background-color: rgb(249, 245, 233);
    box-shadow: 0px 0px 12px 0.05px rgb(223, 223, 223);
    justify-content: center;

}

.header-container>img {
    display: inline-flex;
    position: absolute;
    width: 120px;
    height: 120px;
    top: 20px;

}

.header-container>h3 {
    display: flex;
    position: absolute;
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: rgb(63, 35, 18);
}

h3#sunset {
    position: relative;
    top: 2.5rem;
    right: 3rem;
}

h3#roasters {
    position: relative;
    top: 2.5rem;
    right: -5.5rem;
}

.header-container>span {
    font-size: 1.5rem;
    color: rgb(63, 35, 18);
    font-weight: bold;
    position: absolute;
    top: 9.5rem;
}

ul#menu {
    display: flex;
    position: absolute;
    list-style: none;
    width: 100%;
    z-index: 2;
}

ul#menu>a {
    display: inline-flex;
    position: relative;
    width: 16.6666666667%;
    height: 3rem;
    background-color: rgb(249, 245, 233);
    border: 0.1px solid rgb(178, 178, 178);
    top: 12.5rem;
    color: rgb(63, 35, 18);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    text-transform: uppercase;
    z-index: 1;

}

ul#menu>a:hover {
    width: 17.6%;
    height: 3.2rem;
}

.header-container>a.order>div#cart {
    position: absolute;
    display: inline-flex;
    height: 1.5rem;
    width: 1.5rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 1px solid rgb(67, 44, 30);
    border-radius: 50%;
    color: rgb(63, 35, 18);
    background-color: rgb(249, 245, 233);
    top: 2rem;
    right: 8rem;

}

.header-container>a.order>div#total-price {
    display: inline-flex;
    position: absolute;
    width: 8rem;
    height: 3.1rem;
    background-color: rgb(249, 245, 233);
    right: 3.1rem;
    top: 2rem;
    align-items: center;
    color: rgb(63, 35, 18);
    font-size: 0.9rem;
    font-weight: 600;
    justify-content: center;
    border: 1px solid rgb(67, 44, 39);
    border-radius: 30px;
}

.header-container>a.order>div#total-price>span {
    display: inline-flex;
    position: absolute;
    right: 20px;
}

.header-container>button#staff {
    position: absolute;
    padding: 5px;
    background-color: rgb(249, 245, 233);
    color: rgb(63, 35, 18);
    border: 1px solid rgb(63, 35, 18);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
}


.header-container>button#staff:hover {
    background-color: rgb(249, 245, 225);
}

body>.staff-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

body>.staff-overlay>.modal-content {
    background: rgb(249, 245, 233);
    padding: 20px;
    border-radius: 10px;
    width: 30rem;
    height: 35rem;
    position: relative;
    display: flex;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

body>.hidden {
    display: none !important;
}

div#staff-overlay>div.modal-content>a#closeBtn {
    font-size: 1.5rem;
    position: absolute;
    color: rgb(63, 35, 18);
    right: 1rem;
    top: 1rem;
}

div#staff-overlay>div.modal-content>a#closeBtn:hover {
    color: rgb(109, 62, 33);
}

div#staff-overlay>div.modal-content>h2 {
    position: absolute;
    top: 5rem;
    color: rgb(63, 35, 18);
}

div#staff-overlay>div.modal-content>div.staff-overlay-inputs {
    width: 25rem;
    height: 20rem;
    background-color: rgb(249, 245, 236);
    position: absolute;
    top: 9rem;
    border-radius: 10px;
    border: 0.1px solid rgb(67, 44, 30);
}

div.staff-overlay-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

div.staff-overlay-inputs>div.username>span#person {
    width: 2rem;
    height: 2rem;
    padding: 10px;
    font-size: 20px;
    color: rgb(63, 35, 18);
    border-radius: 50%;
    background-color: rgb(249, 245, 233);
    border: 0.1px solid rgb(63, 35, 18);
}

div.staff-overlay-inputs>div.password>span#password {
    width: 2rem;
    height: 2rem;
    padding: 10px;
    font-size: 20px;
    color: rgb(63, 35, 18);
    border-radius: 50%;
    background-color: rgb(249, 245, 233);
    border: 0.1px solid rgb(63, 35, 18);
}

div.staff-overlay-inputs>div.username>input.logininputs {
    height: 3rem;
    width: 17rem;
    font-size: 0.8rem;
    padding-left: 10px;
    border-radius: 10px;
    border: 0.1px solid rgb(63, 35, 18);
    position: relative;
    top: -0.25rem;
}

div.staff-overlay-inputs>div.password>input.logininputs {
    height: 3rem;
    width: 17rem;
    border-radius: 10px;
    border: 0.1px solid rgb(63, 35, 18);
    position: relative;
    top: -0.25rem;
    font-size: 0.8rem;
    padding-left: 10px;

}

input.logininputs::placeholder {
    color: rgb(63, 35, 18);
    font-style: italic;
    font-weight: 500;
    opacity: 0.7;
}

div.staff-overlay-inputs>h2 {
    position: relative;
    top: -1rem;
    font-size: 1.4rem;
    color: rgb(63, 35, 18);

}

div.staff-overlay>div.modal-content>div.staff-overlay-inputs>a#login-btn {
    background-color: rgb(249, 245, 233);
    color: rgb(63, 35, 18);
    width: 5rem;
    height: 2.5rem;
    border-radius: 20px;
    border: 0.1px solid rgb(63, 35, 18);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#staff-overlay>div.modal-content>div.staff-overlay-inputs>div.login-control>div#successful {
    width: 20rem;
    height: 3rem;
    border: 3px solid rgba(0, 130, 0, 0.849);
    background-color: rgba(0, 161, 0, 0.793);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
    box-shadow: 0px 0px 7px 5px rgb(228, 228, 228);
    opacity: 0.95;
}

div#staff-overlay>div.modal-content>div.staff-overlay-inputs>div.login-control>div#err {
    width: 20rem;
    height: 3rem;
    border: 3px solid rgba(139, 0, 0, 0.856);
    background-color: rgba(218, 0, 0, 0.805);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkred;
    box-shadow: 0px 0px 7px 5px rgb(228, 228, 228);
    opacity: 0.95;
}

div.body-container {
    width: 100%;
    height: 80rem;
}

div.welcome-overlay {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 1000;
}

div.welcome-overlay>div.content {
    width: 30rem;
    height: 35rem;
    border-radius: 20px;
    background-color: rgb(249, 245, 233);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.3);
}

div.welcome-overlay>div.content>div.title-part {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 2rem;
}

div.welcome-overlay>div.content>div.content-part {
    background-color: rgb(249, 245, 236);
    border: 0.05px solid rgb(63, 35, 18);
    border-radius: 15px;
    width: 25rem;
    height: 20rem;
    display: flex;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.content-part>span#tableId {
    position: absolute;
    color: rgb(63, 35, 18);
    font-size: 1.5rem;
    font-weight: bold;
    top: 12rem;
}

div.content-part>input#tableEntranceInput {
    height: 3rem;
    width: 17rem;
    border-radius: 20px;
    border: 0.1px solid rgb(63, 35, 18);
    position: relative;
    font-size: 0.8rem;
    padding-left: 10px;
    top: 1.4rem;
}

div.content-part>input#tableEntranceInput::placeholder {
    color: rgb(63, 35, 18);
    font-style: italic;
    font-weight: 500;
    opacity: 0.7;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type="number"] {
    -moz-appearance: textfield !important;
    /* Firefox */
    appearance: none !important;
}

div.content-part>a#tableEntranceBtn {
    background-color: rgb(249, 245, 233);
    color: rgb(63, 35, 18);
    width: 5rem;
    height: 2.5rem;
    border-radius: 20px;
    border: 0.1px solid rgb(63, 35, 18);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3s;
    top: 1.6rem;
}

div.content-part>a#tableEntranceBtn:hover {
    background-color: rgb(63, 35, 18);
    color: rgb(249, 245, 233);
}

div.content-part>div.welcomeResult {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    opacity: 0.8;
    top: 1.6rem;
    font-weight: bold;
}

div.content-part>div#welcomeSuccessful {
    border: 2px solid rgba(0, 130, 0, 0.849);
    background-color: rgba(0, 161, 0, 0.793);
    width: 17rem;
    height: 3rem;
    color: rgb(0, 95, 0);
}

div.content-part>div#welcomeUnsuccessful {
    border: 2px solid rgba(139, 0, 0, 0.856);
    background-color: rgba(218, 0, 0, 0.805);
    width: 17rem;
    height: 3rem;
    color: darkred;
}

div.meal-overlay.active {
    visibility: visible;
    opacity: 1;
}

div.meal-overlay {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

div.meal-overlay>div.content {
    width: 45rem;
    height: 40rem;
    border-radius: 20px;
    background-color: rgb(249, 245, 233);
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.3);
}

div.content>div.img-part {
    height: 20rem;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0.1px solid rgb(63, 35, 18);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.img-part>img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

div.img-part>a>i {
    color: rgb(63, 35, 18);
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
}

div.img-part>a>i:hover {
    font-size: 1.55rem;
    top: 0.975rem;
    right: 0.975rem;
}

div.content>div.text-part{
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}

div.text-part>div.text-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    font-size: 1.2rem;
    color: rgb(63,35,18);
    font-weight: 600;
}

div.text-part>div.explanation {
    width: 100%;
    height: 7rem;
    padding: 0.25rem 3rem;
    color: rgb(63, 35, 18);
    text-align: left;
    justify-content: center;
}

div.text-part>div.note {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
}

div.note>textarea {
    resize: none;
    padding: 8px;
    border-radius: 10px;
    font-style: italic;
    font-size: 0.85rem;
    font-weight: bold;
    background-color: rgb(249, 245, 240)
}

div.text-part>div.buy-part {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.8rem;
}

div.buy-part>span.price{
    font-weight: bold;
    color: rgb(63, 35, 18);
    padding: 10px;
    background-color: rgb(249,245,240);
    border: 0.1px solid rgb(63,35,18);
    border-radius: 30px;
}

div.buy-part>hr{
    background-color: rgb(63,35,18);
    border:none;
    width: 3px;
    height: 40px;
    border-radius: 20px;
}

div.buy-part>a#buy-btn {
    color: rgb(63, 35, 18);
    padding: 10px;
    background-color: rgb(249, 245, 240);
    border: 0.1px solid rgb(63, 35, 18);
    border-radius: 30px;
    transition: box-shadow 0.3s ease;
}

div.buy-part>a#buy-btn:hover {
    box-shadow: 0px 0px 12px -5px rgb(63, 35, 18);
}