*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

div.content{
    background-color: rgb(249,245,240);
    display: flex;
    position: relative;
    width: 100%;
    height: 60rem;
    align-items: center;
    justify-content: center;
}

div.content>ul.tables{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    list-style:none;
    column-gap: 4.5rem;
}

ul.tables>a.table{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 15rem;
    height: 10rem;
    background-color: rgb(249,245,233);
    align-items: center;
    justify-self: center;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 5px rgb(203,203,203);
}

ul.tables>a.table:hover{
    height: 10.1rem;
    width: 15.1rem;
}

a.table>div.titlepart{
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid rgb(63,35,18);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(63,35,18);
}

a.table>div.contentpart{
    width: 100%;
    height: 7.5rem;
    display: flex;
    position: relative;
    gap: 8px;
    left: 20px;
    justify-content: center;
    flex-direction: column;
    color: rgb(63,35,18);
}

div.content>div.tables-overlay{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    display: flex;
    position: fixed;
    background-color: rgb(0,0,0,0.5);
    backdrop-filter: blur(8px);
    z-index: 3;
    justify-content: center;
    align-items: center;
}

div.tables-overlay>div.overlay-content{
    width: 30rem;
    height: 35rem;
    background-color: rgb(249,245,233);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgb(0,0,0,0.3);
    display: flex;
    flex-direction: column;
}

div.overlay-content>div.overlay-title{
    border-bottom: 1px solid rgb(63,35,18);
    width: 100%;
    height: 5rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(63,35,18);
    display:flex;
    justify-content: center;
    align-items: center;
}

div.overlay-content>div.overlay-title>a#closeBtn{
    color: rgb(63,35,18);
    display: flex;
    position: absolute;
    font-size: 1.2rem;
    right: 27.8rem;
    top: 3.3rem;
    width: 2rem;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    height: 2rem;
    background-color: rgb(249,245,233);
    border: 1px solid rgb(63,35,18);

}

div.overlay-content>div.overlay-inside{
    width: 100%;
    height: 30rem;
}

div.content>.hidden{
    display:none !important; 
}


